/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #F7F7F7;
}

select[readonly] option, select[readonly] optgroup {
    display: none;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.form-action {
    margin-bottom: 10px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.form-control[readonly].select {
    background: white;
    z-index: 0;
}

.center-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.center-horizontal {
    float: none;
    margin: 0 auto;
}

.center-vertical {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/** filter-group */
@media screen and (min-width: 768px) {
    .filter-group {
        width: 300px;
        margin-right: 10px;
    }

    .filter-group .dropdown.dropdown-lg {
        position: static !important;
    }

    .filter-group .dropdown.dropdown-lg .dropdown-menu {
        min-width: 400px;
    }
}

.filter-group .input-group-btn .btn-group {
    display: flex !important;
}

.filter-group .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.filter-group .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.filter-group .btn-group .btn.inline:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.filter-group .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.filter-group .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.filter-group .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tree-container {
    min-height: 700px;
    max-height: 700px;
    overflow-x: auto;
}

.grid-container {
    overflow-x: auto;
}

.inline-row {
    margin-bottom: 15px;
}

.root-league.form-control {width: 110px;}
.inline-group {margin-right: 15px;}

.img-resp {
    max-width: 100%;
    overflow: hidden;
}

.img-resp img {
    width: 100%;
}
.text-hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.column-gutter0 .row {
    margin-left: 0;
    margin-right: 0;
}

.file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.btn-file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/** fix for bootstrap 3*/
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
span.twitter-typeahead {
    width: 100%;
}
.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}

.activity_title {
    margin-right: 10px;
}

.chat {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7e1b5;
}

.unread_badge {
    background: #f00;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.btn-space {
    margin-right: 5px;
    margin-left: 5px;
}

.btn-mini-icon {
    margin-right: 3px;
    margin-left: 3px;
}

.infinite-width {
    max-width: none;
}

.selected-thumbnail {
    border-color: green;
    background-color: green;
    border-radius: 4px 4px 4px 4px;
}


.redRowBg {
    background-color: #d3963f;
}

.table>tbody>tr.redRowBg>td {
    background-color: #d3963f;
}
.table>tbody>tr.redRowBg.success>td {
    background-color: #dff0d8;
}

.packing {
    background-color: #2dd35f;
}
.wrapper {
    background-color: #FFD2A3;
}
.legend.packing {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-size: 12px;
    margin-left: 30px;
    padding: 5px;
}
.legend.wrapper {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-size: 12px;
    margin-left: 30px;
    padding: 5px;
}
.legend.major {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    font-size: 12px;
    margin-left: 30px;
    padding: 5px;
}

.table>tbody>tr.packing>td {
    background-color: #2dd35f;
}
.table>tbody>tr.packing.success>td {
    background-color: #dff0d8;
}

.table>tbody>tr.wrapper>td {
    background-color: #FFD2A3;
}
.table>tbody>tr.wrapper.success>td {
    background-color: #dff0d8;
}

.dropdown-menu-group li a:hover {
    background-color: #699fcc;
}

.optBtns {
    padding-left: 0;
}

.menu-item-danger:not(context-menu-disabled) {
    color: #a94442;
}

.menu-item-success:not(context-menu-disabled) {
    color: #3c763d;
}

/** spinning */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}